- var page = "news"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		.page

			// header
			include pug-modules/header
			// /.header


		
			// news
			section.section
				.container
					h2.h2.page-title Новости
						span.color-accent .

					.news__row
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019
						.news-item
							a(href="#")
								p.news-item__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.news-item__date 19 января 2019

			// /.news




			// footer
			include pug-modules/footer
			// /.footer


				