- var page = "video"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		.page

			// header
			include pug-modules/header
			// /.header


		
			// videos
			section.section.videos
				.container
					h2.h2.page-title Видео
						span.color-accent .

					.videos__row.flex

						.videos__col
							.video-block
								a.video.js-video(data-video="u8rjvnzJvK8", style="background-image: url('img/video-poster-1.jpg')")
								h3.h3.video-block__title Pullita Alla Moda
								span.video-block__label Сайт, Брендинг

						.videos__col
							.video-block
								a.video.js-video(data-video="nXqoD3ZjMnI", style="background-image: url('img/video-poster-2.jpg')")
								h3.h3.video-block__title Nechaev - Новогодняя
								span.video-block__label Музыкальный клип

						.videos__col
							.video-block
								a.video.js-video(data-video="u8rjvnzJvK8", style="background-image: url('img/video-poster-1.jpg')")
								h3.h3.video-block__title Pullita Alla Moda
								span.video-block__label Сайт, Брендинг

						.videos__col
							.video-block
								a.video.js-video(data-video="nXqoD3ZjMnI", style="background-image: url('img/video-poster-2.jpg')")
								h3.h3.video-block__title Nechaev - Новогодняя
								span.video-block__label Музыкальный клип

						.videos__col
							.video-block
								a.video.js-video(data-video="u8rjvnzJvK8", style="background-image: url('img/video-poster-1.jpg')")
								h3.h3.video-block__title Pullita Alla Moda
								span.video-block__label Сайт, Брендинг

						.videos__col
							.video-block
								a.video.js-video(data-video="nXqoD3ZjMnI", style="background-image: url('img/video-poster-2.jpg')")
								h3.h3.video-block__title Nechaev - Новогодняя
								span.video-block__label Музыкальный клип

						.videos__col
							.video-block
								a.video.js-video(data-video="u8rjvnzJvK8", style="background-image: url('img/video-poster-1.jpg')")
								h3.h3.video-block__title Pullita Alla Moda
								span.video-block__label Сайт, Брендинг

						.videos__col
							.video-block
								a.video.js-video(data-video="nXqoD3ZjMnI", style="background-image: url('img/video-poster-2.jpg')")
								h3.h3.video-block__title Nechaev - Новогодняя
								span.video-block__label Музыкальный клип



			// /.videos





			// cta
			include pug-modules/cta
			// /.cta
						


			// footer
			include pug-modules/footer
			// /.footer


				