section.section.cta
	.container
		.section-title
			div
				h2.h2 Готовы к сотрудничеству?
				h3.h3 Заполните форму на нашем сайте, мы назначим вам встречу
			button.btn.section-link.js-call-modal(type="button") оставить заявку