footer.footer
	.container
		.footer__row.flex
			.footer-logo
				img.img(src="img/footer-logo.png", alt="Inview")
			.contacts-info
				div.contacts-info__item
					span.color-accent Телефон: 
					a.hover(href="tel:+79059509998") +7 (905) 950-99-98
				div.contacts-info__item
					span.color-accent E-mail: 
					a.hover(href="mailto:client@inview.pro") client@inview.pro
			.footer-info
				p Copyright 2017 - 2019 InView
				p All Rights Reserved




// Скрипты
// Jquery с облака и замена в случае отсутствия доступа к облаку 
script(
	src="https://code.jquery.com/jquery-3.4.1.min.js" 
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
	crossorigin="anonymous"
)
script.
	window.jQuery || document.write('<script src="libs/jquery/jquery-3.4.1.min.js"><\/script>')
script(src="js/scripts.js")

