header.header
	.container
		.mob-header
			.mob-logo
				img.img(src="img/toplogo.png", alt="Inview")
			a.header-tel.hover(href="tel:+79059509998") +7 (905) 950-99-98
		nav.nav
			.nav__toggle
				span.nav__toggle-ic
			ul.nav__list
				li
					a.hover(href="#") О нас
				li
					a.hover(href="#") Новости
				li
					a.hover(href="#") Команда
				li.desktop-logo
					img.img(src="img/toplogo.png", alt="Inview")
				li
					a.hover(href="#") Видео
				li
					a.hover(href="#") Сайты
				li
					a.hover(href="#") Контакты





                              
                               









