header.header
	.container
		nav.nav
			ul.nav-list
				li
					a(href="#") О нас   
				li
					a(href="#") Новости  
				li
					a(href="#") Команда  
				li
					.toplogo
						img.img(src="img/toplogo.png", alt="Inview")
				li
					a(href="#") Видео
				li
					a(href="#") Сайты
				li
					a(href="#") Контакты  





                              
                               









